html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
    border 0
    vertical-align baseline
    margin 0
    padding 0

ol, ul 
    list-style none

body
   overflow-x hidden

.el-button
    width initial