a
	text-decoration none
	color #423F37
	&:hover
		color #3AB8E6

*
	// font-family -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	font-family "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

::-webkit-scrollbar 
	width .5rem
	height .5rem
	background rgba(244,244,244,0.8)
::-webkit-scrollbar-thumb 
	background-color rgba(95,95,95,.4)
	border-radius .4rem

h1
h2 
h3 
h4
	color #2c3e50